.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none !important;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* Tablet */
@media (min-width: 768px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .sm-0 {
        display: none;
    }

    .sm-1,
    .sm-2,
    .sm-3,
    .sm-4,
    .sm-5,
    .sm-6,
    .sm-7,
    .sm-8,
    .sm-9,
    .sm-10,
    .sm-11,
    .sm-12 {
        display: block;
    }

    .sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .sm-o-1 {
        margin-left: 8.33333%;
    }

    .sm-o-2 {
        margin-left: 16.66667%;
    }

    .sm-o-3 {
        margin-left: 25%;
    }

    .sm-o-4 {
        margin-left: 33.33333%;
    }

    .sm-o-5 {
        margin-left: 41.66667%;
    }

    .sm-o-6 {
        margin-left: 50%;
    }

    .sm-o-7 {
        margin-left: 58.33333%;
    }

    .sm-o-8 {
        margin-left: 66.66667%;
    }

    .sm-o-9 {
        margin-left: 75%;
    }

    .sm-o-10 {
        margin-left: 83.33333%;
    }

    .sm-o-11 {
        margin-left: 91.66667%;
    }

}

/* PC medium */
@media (min-width: 1113px) {
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .md-0 {
        display: none;
    }

    .md-1,
    .md-2,
    .md-2-4,
    .md-3,
    .md-4,
    .md-5,
    .md-6,
    .md-7,
    .md-8,
    .md-9,
    .md-10,
    .md-11,
    .md-12 {
        display: block;
    }

    .md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .md-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .md-o-1 {
        margin-left: 8.33333%;
    }

    .md-o-2 {
        margin-left: 16.66667%;
    }

    .md-o-3 {
        margin-left: 25%;
    }

    .md-o-4 {
        margin-left: 33.33333%;
    }

    .md-o-5 {
        margin-left: 41.66667%;
    }

    .md-o-6 {
        margin-left: 50%;
    }

    .md-o-7 {
        margin-left: 58.33333%;
    }

    .md-o-8 {
        margin-left: 66.66667%;
    }

    .md-o-9 {
        margin-left: 75%;
    }

    .md-o-10 {
        margin-left: 83.33333%;
    }

    .md-o-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .wide {
        max-width: 900px;
    }
}

/* PC */
@media (min-width: 1024px) and (max-width:1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .wide .col {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .lg-0 {
        display: none;
    }

    .wide .lg-1,
    .wide .lg-2,
    .wide .lg-2-4,
    .wide .lg-3,
    .wide .lg-4,
    .wide .lg-5,
    .wide .lg-6,
    .wide .lg-7,
    .wide .lg-8,
    .wide .lg-9,
    .wide .lg-10,
    .wide .lg-11,
    .wide .lg-12 {
        display: block;
    }

    .wide .lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .lg-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .lg-o-1 {
        margin-left: 8.33333%;
    }

    .wide .lg-o-2 {
        margin-left: 16.66667%;
    }

    .wide .lg-o-3 {
        margin-left: 25%;
    }

    .wide .lg-o-4 {
        margin-left: 33.33333%;
    }

    .wide .lg-o-5 {
        margin-left: 41.66667%;
    }

    .wide .lg-o-6 {
        margin-left: 50%;
    }

    .wide .lg-o-7 {
        margin-left: 58.33333%;
    }

    .wide .lg-o-8 {
        margin-left: 66.66667%;
    }

    .wide .lg-o-9 {
        margin-left: 75%;
    }

    .wide .lg-o-10 {
        margin-left: 83.33333%;
    }

    .wide .lg-o-11 {
        margin-left: 91.66667%;
    }


}