// PC
@media (min-width: 1025px) {
    .weworkwith .section__list-item {
        &:nth-child(1) {
            border-bottom: 0.1rem solid #e5e5e5;
            margin-top: 0;
        }

        &:nth-child(2) {
            border-bottom: 0.1rem solid #e5e5e5;
            margin-top: 0;

        }

        &:nth-child(3) {
            border-bottom: 0.1rem solid #e5e5e5;
            margin-top: 0;
        }

        &:nth-child(4) {
            border-bottom: 0.1rem solid #e5e5e5;
            margin-top: 3rem;
        }
    }
}

//Table & Mobile
@media (max-width:1024px) {
    section.content__box {
        padding: 9rem 3rem 11rem;
    }


    .banner {
        height: 100vh;

        & .space__btn {
            flex: 0.5;
        }
    }

    .header__logo {
        left: 2rem;
    }

    .header__navbar {
        padding-right: 4rem;
    }

    .header {
        & .banner__step {
            padding: 0 3rem;
        }
    }

}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .weworkwith .section__list .section__list-item {
        &:nth-child(1) {
            border-bottom: 0.1rem solid #e5e5e5;
            margin-top: 0;
        }

        &:nth-child(2) {
            border-bottom: 0.1rem solid #e5e5e5;
            margin-top: 0;

        }

        &:nth-child(3) {
            border-bottom: 0.1rem solid #e5e5e5;
            margin-top: 3rem;
        }

        &:nth-child(4) {
            border-bottom: 0.1rem solid #e5e5e5;
            margin-top: 3rem;
        }
    }

    .banner .section__box {
        & .banner__step {
            padding: 0 2rem 0.6rem;
        }

        & .section__title {
            & h3 {
                font-size: 4.2rem;
            }

            & h1 {
                font-size: 12rem;
                width: 80rem;
            }
        }


    }

    .statistic {
        height: 20vh;

        &-item {
            & span {
                font-size: 4.2rem;
                font-weight: 600;
            }

            & h6 {
                font-size: 1rem;
                height: 2rem;

            }
        }
    }



    .section__picturebox-item {
        height: 35vh;
    }

    .footer {
        padding: 3rem;

        &__content {

            &-right,
            &-mid {
                margin-top: 3rem;

            }
        }
    }




}

// Mobile
@media (max-width: 767px) {
    .header {
        & .toggle {
            display: block;
        }

        & .toggle.active~.header__navbar {
            transform: translate(0, $banner-sticky-height);
            opacity: 1;
        }

        &__navbar {
            position: absolute;
            height: calc(100vh - $banner-sticky-height);
            display: block;
            transform: translate(100%, $banner-sticky-height);
            opacity: 0;
            transition: 1s;
            background-image: $linear-gradient-image;

            &-list {
                flex-direction: column;
                height: 100%;
                justify-content: space-evenly;
                align-items: center;
                width: 100vw;

                &-item {
                    display: flex;
                    align-items: center;
                    font-size: 2.5rem;

                    &:nth-last-child(1),
                    &:nth-last-child(2),
                    &:nth-last-child(3) {
                        &::after {
                            background-color: $top-linear-color;
                        }

                        &:hover {
                            & a {
                                color: $top-linear-color;
                            }

                            & svg {
                                fill: $top-linear-color;
                            }
                        }
                    }

                    & span {
                        display: inline-block;
                        margin-left: 1rem;
                    }


                    &+.header__navbar-list-item {
                        margin-left: 0;

                    }
                }
            }

        }
    }

    .banner {
        & .section__box {
            & .space__btn {
                flex: 0.5;
            }

            & .banner__step-title {
                font-size: 1.4rem;

                & span {
                    font-size: 1.8rem;
                }

            }
        }
    }


    .section__picturebox-item {
        height: 60vh;
        margin-top: 4rem;
    }

    .weworkwith .section__list .section__list-item {
        justify-content: center;
        border-bottom: 0.1rem solid #e5e5e5;

        &:nth-child(6) {
            border-bottom: 0;
        }

        margin-top: 2rem;

        & h5 {
            text-align: center;
        }
    }

    .section-bg {
        &>img {
            width: 60%;
        }
    }

    .uniquedesigns {
        &>img {
            top: calc(53vh + 0.4rem);

        }
    }

    .slider {
        &-content-item {
            display: block;
        }
    }

    .footer {
        padding: 3rem;

        &__content {
            &-box .footer__content-box-item {
                margin-bottom: 1.4rem;
            }

            &-right,
            &-mid {
                margin-top: 3rem;

            }
        }
    }

}

@media (min-width: 416px) and (max-width:767px) {
    .banner {
        & .section__box {
            & .section__title {
                & h3 {
                    font-size: 4.2rem;
                }

                & h1 {
                    font-size: 7.5rem;
                    width: 100vw;
                    line-height: 8rem;
                }
            }

            & .space__btn {
                flex: 0.5;
            }

            & .banner__step-title {
                font-size: 1.4rem;

                & span {
                    font-size: 1.8rem;
                }

            }
        }
    }

    .statistic {
        height: 20vh;

        &-item {
            & span {
                font-size: 4.2rem;
                font-weight: 600;
            }

            & h6 {
                font-size: 1rem;
                height: 2rem;

            }
        }
    }

    .footer {
        padding: 3rem;

        &__content {

            &-right,
            &-mid {
                margin-top: 3rem;

            }
        }
    }
}

@media (max-width: 415px) {
    .banner {
        & .section__box {
            & .section__title {
                flex: 1;

                & h3 {
                    font-size: 6vh;
                }

                & h1 {
                    font-size: 8vh;
                    width: 100vw;
                    line-height: 10vh;
                }
            }

            & .banner__step-item::before {
                margin-bottom: 1.2rem;
            }

            & .banner__step {
                padding: 0 1rem 1rem;
            }

            & .banner__step-title {
                font-size: 0.8rem;

                & span {
                    font-size: 1.2rem;
                }

            }
        }


    }

    .statistic {
        height: 20vh;

        &-item {
            & span {
                font-size: 2.8rem;
                font-weight: 600;
            }

            & h6 {
                font-size: 0.6rem;
                height: 1.2rem;

            }
        }
    }

    .uniquedesigns {
        & .section-bg {
            &>img {
                width: 56%;
                height: 60.5%;
                top: 78%;
            }
        }
    }

    .footer {
        padding: 3rem;

        &__content {
            &-left {
                & .footer__combobox {
                    flex-wrap: wrap;

                    & .btn {
                        width: 100%;
                    }
                }
            }

            &-right,
            &-mid {
                margin-top: 5rem;

            }
        }
    }

}