@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none !important;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* Tablet */
@media (min-width: 768px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .sm-0 {
    display: none;
  }

  .sm-1,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.sm-10,
.sm-11,
.sm-12 {
    display: block;
  }

  .sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sm-o-1 {
    margin-left: 8.33333%;
  }

  .sm-o-2 {
    margin-left: 16.66667%;
  }

  .sm-o-3 {
    margin-left: 25%;
  }

  .sm-o-4 {
    margin-left: 33.33333%;
  }

  .sm-o-5 {
    margin-left: 41.66667%;
  }

  .sm-o-6 {
    margin-left: 50%;
  }

  .sm-o-7 {
    margin-left: 58.33333%;
  }

  .sm-o-8 {
    margin-left: 66.66667%;
  }

  .sm-o-9 {
    margin-left: 75%;
  }

  .sm-o-10 {
    margin-left: 83.33333%;
  }

  .sm-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC medium */
@media (min-width: 1113px) {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .md-0 {
    display: none;
  }

  .md-1,
.md-2,
.md-2-4,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-10,
.md-11,
.md-12 {
    display: block;
  }

  .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .md-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .md-o-1 {
    margin-left: 8.33333%;
  }

  .md-o-2 {
    margin-left: 16.66667%;
  }

  .md-o-3 {
    margin-left: 25%;
  }

  .md-o-4 {
    margin-left: 33.33333%;
  }

  .md-o-5 {
    margin-left: 41.66667%;
  }

  .md-o-6 {
    margin-left: 50%;
  }

  .md-o-7 {
    margin-left: 58.33333%;
  }

  .md-o-8 {
    margin-left: 66.66667%;
  }

  .md-o-9 {
    margin-left: 75%;
  }

  .md-o-10 {
    margin-left: 83.33333%;
  }

  .md-o-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wide {
    max-width: 900px;
  }
}
/* PC */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .wide .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .lg-0 {
    display: none;
  }

  .wide .lg-1,
.wide .lg-2,
.wide .lg-2-4,
.wide .lg-3,
.wide .lg-4,
.wide .lg-5,
.wide .lg-6,
.wide .lg-7,
.wide .lg-8,
.wide .lg-9,
.wide .lg-10,
.wide .lg-11,
.wide .lg-12 {
    display: block;
  }

  .wide .lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .lg-o-1 {
    margin-left: 8.33333%;
  }

  .wide .lg-o-2 {
    margin-left: 16.66667%;
  }

  .wide .lg-o-3 {
    margin-left: 25%;
  }

  .wide .lg-o-4 {
    margin-left: 33.33333%;
  }

  .wide .lg-o-5 {
    margin-left: 41.66667%;
  }

  .wide .lg-o-6 {
    margin-left: 50%;
  }

  .wide .lg-o-7 {
    margin-left: 58.33333%;
  }

  .wide .lg-o-8 {
    margin-left: 66.66667%;
  }

  .wide .lg-o-9 {
    margin-left: 75%;
  }

  .wide .lg-o-10 {
    margin-left: 83.33333%;
  }

  .wide .lg-o-11 {
    margin-left: 91.66667%;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section__title h3 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
}
.section__title h1 {
  text-transform: uppercase;
}

.dodge {
  width: 0.1rem;
  height: 100%;
}

.section__dodge {
  width: 6rem;
  height: 0.4rem;
  display: block;
  background-color: #f38181;
}

.section__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

section.content__box {
  padding-top: 9rem;
  padding-bottom: 11rem;
}
section.content__box .section__title {
  margin-bottom: 4.6rem;
}
section.content__box .section__title h3 {
  font-size: 2.4rem;
  text-align: center;
}
section.content__box .section__title h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2.7rem;
  margin-bottom: 4;
}

p.section__description {
  color: #bfbfbf;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 auto;
  max-width: 96rem;
  margin-bottom: 10rem;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section__title h3 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
}
.section__title h1 {
  text-transform: uppercase;
}

.dodge {
  width: 0.1rem;
  height: 100%;
}

.section__dodge {
  width: 6rem;
  height: 0.4rem;
  display: block;
  background-color: #f38181;
}

.section__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

section.content__box {
  padding-top: 9rem;
  padding-bottom: 11rem;
}
section.content__box .section__title {
  margin-bottom: 4.6rem;
}
section.content__box .section__title h3 {
  font-size: 2.4rem;
  text-align: center;
}
section.content__box .section__title h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2.7rem;
  margin-bottom: 4;
}

p.section__description {
  color: #bfbfbf;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 auto;
  max-width: 96rem;
  margin-bottom: 10rem;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #333333;
  overflow: auto;
}

section[id]:not(#ABOUT) {
  scroll-margin-top: 3rem;
}

section#ABOUT {
  scroll-margin-top: -6rem;
}

.app {
  height: inherit;
}

.scrollTopBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: #fff;
  border: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: all 1s;
  opacity: 0;
}
.scrollTopBtn:hover {
  background-image: linear-gradient(to bottom, #e98283, #f1da8a);
}
.scrollTopBtn:hover svg {
  fill: #fff;
}
.scrollTopBtn svg {
  fill: #000;
}

.header {
  height: 8.4rem;
  font-size: 1.4rem;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100vw;
  color: #fff;
}
.header .toggle {
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
  position: absolute;
  display: none;
  width: 4.2rem;
  height: 4.2rem;
  border: 0;
  background-color: transparent;
  transition: 1s;
}
.header .toggle:hover i {
  color: #f1da8a;
}
.header .toggle.active .icon-open {
  display: none;
}
.header .toggle.active .icon-close {
  display: block;
}
.header .toggle i {
  color: #fff;
  font-size: 2rem;
}
.header .toggle i.icon-open {
  display: block;
}
.header .toggle i.icon-close {
  display: none;
}
.header__logo {
  font-weight: 700;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}
.header__logo:hover {
  text-shadow: 0.1rem 0.1rem 1rem #e98283, 0.2rem 0.2rem 1rem #f1da8a;
}
.header__navbar {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.header__navbar-list {
  height: 8.4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.header__navbar-list-item {
  position: relative;
}
.header__navbar-list-item svg {
  fill: #fff;
}
.header__navbar-list-item span {
  display: none;
  font-weight: 500;
  color: #fff;
}
.header__navbar-list-item-links {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.header__navbar-list-item + .header__navbar-list-item {
  margin-left: 5.4rem;
}
.header__navbar-list-item::after {
  content: "";
  width: 0%;
  height: 0.3rem;
  position: absolute;
  background-color: #fce38a;
  bottom: -1rem;
  left: -5%;
  transition: all 0.3s linear;
}
.header__navbar-list-item:hover a {
  color: #fce38a;
}
.header__navbar-list-item:hover svg {
  fill: #fce38a;
}
.header__navbar-list-item:hover::after {
  width: 110%;
}

.banner {
  transition: 1s;
  height: 100vh;
  position: relative;
}
.banner.sticky {
  height: 10rem;
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
}
.banner.sticky + section {
  padding: 23rem 3rem 11rem;
}
.banner.sticky .section__box {
  justify-content: flex-end;
}
.banner.sticky .section__box .section__title, .banner.sticky .section__box .space__btn {
  transform: scale(0);
  opacity: 0;
}
.banner.sticky .banner__step {
  padding-bottom: 1rem;
}
.banner.sticky .banner__step-item::before {
  margin-bottom: 0;
}
.banner__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}
.banner__bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #e98283, #f1da8a);
  z-index: 0;
  position: absolute;
  opacity: 0.93;
}
.banner .section__box {
  color: #fff;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.banner .section__box .section__title {
  flex: 1.5;
  justify-content: flex-end;
  transition: 1s;
  transform: scale(1);
  opacity: 1;
}
.banner .section__box .section__title h3 {
  font-size: 7.2rem;
  margin: 0;
  text-align: center;
}
.banner .section__box .section__title h1 {
  width: 90rem;
  text-align: center;
  font-size: 15rem;
  line-height: 14rem;
  margin: 4rem 0 7rem 0;
}
.banner .section__box .section__title .section__dodge {
  background-color: #fff;
}
.banner .section__box .space__btn {
  transition: 1s;
  transform: scale(1);
  opacity: 1;
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .section__box .banner-btn {
  background-color: transparent;
  color: #fff;
  font-size: 1.4rem;
  border: 0.4rem solid #fff;
  padding: 1.2rem 3rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
}
.banner .section__box .banner-btn:hover {
  border-color: #e98283;
  background-color: #e98283;
  color: #f1da8a;
}
.banner__step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.banner__step-item {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.banner__step-item .banner__progress-step {
  height: 0.4rem;
  position: absolute;
  width: 0%;
  background-color: #f38181;
  transition: all 0.3s linear;
}
.banner__step-item::before {
  content: "";
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  margin-bottom: 2.4rem;
}
.banner__step-title {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.banner__step-title span {
  font-weight: bold;
  font-size: 2rem;
}

.section__picturebox {
  margin: 0 -1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__picturebox-item {
  padding: 0 1.5rem;
  height: 45vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__picturebox-item:hover .section__picturebox-img-bg {
  opacity: 0.92;
  transform: translate(-1rem, -1rem);
}
.section__picturebox-item:hover img {
  transform: translate(-1rem, -1rem);
}
.section__picturebox-item:hover .section__picturebox-img::after {
  opacity: 1;
}
.section__picturebox-img {
  width: 100%;
  height: 100%;
}
.section__picturebox-img-bg {
  position: absolute;
  height: 100%;
  background-image: linear-gradient(to bottom, #e98283, #f1da8a);
  width: calc(100% - 3rem);
  top: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.section__picturebox-img-bg svg {
  fill: #fff;
}
.section__picturebox-img-bg span {
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
}
.section__picturebox-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.section__picturebox-img::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: 100%;
  background-color: #95e1d3;
  transition: all 0.3s;
  opacity: 0;
}

.statistic {
  height: 30vh;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #95e1d3;
}
.statistic__box {
  height: 100%;
  flex-direction: row;
}
.statistic__box .dodge {
  background-color: #b5eae0;
}
.statistic-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
  height: 100%;
}
.statistic-item span {
  font-size: 7.2rem;
  font-weight: 600;
}
.statistic-item h6 {
  font-size: 1.4rem;
  height: 2.8rem;
  text-transform: uppercase;
  text-align: center;
}

.weworkwith .section__list {
  margin-top: 4rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.weworkwith .section__list-item {
  width: 33.3333333333%;
  margin-top: 5rem;
  padding: 0 3rem;
  display: flex;
  max-height: 12rem;
}
.weworkwith .section__list-item:nth-child(1) {
  border-bottom: 0.1rem solid #e5e5e5;
  margin-top: 0;
}
.weworkwith .section__list-item:nth-child(2) {
  border-bottom: 0.1rem solid #e5e5e5;
  margin-top: 0;
}
.weworkwith .section__list-item:nth-child(3) {
  border-bottom: 0.1rem solid #e5e5e5;
  margin-top: 0;
}
.weworkwith .section__list-item-title {
  color: #333333;
  text-transform: uppercase;
}
.weworkwith .section__list-item svg {
  width: 3.2rem;
  height: 3.4rem;
  fill: #95e1d3;
  flex-shrink: 0;
}
.weworkwith .section__list-item-info {
  max-width: 28rem;
  margin-left: 2rem;
}
.weworkwith .section__list-item-info p {
  margin-top: 2.2rem;
  text-align: left;
  font-size: 1.4rem;
}

.uniquedesigns {
  height: 90vh;
  margin-bottom: 4rem;
  position: relative;
}
.uniquedesigns.content__box {
  padding-bottom: 0;
}
.uniquedesigns img {
  position: absolute;
}
.uniquedesigns > img {
  height: 40vh;
  top: calc(54vh + 0.4rem);
  left: 56vw;
}
.uniquedesigns .section-bg {
  height: 90vh;
  background-image: url("../images/uiquedesign/2.jpg");
}

.section-bg {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -4;
  top: -4rem;
  background-repeat: no-repeat;
  background-size: 100% 150%;
  background-position: 0% 0%;
  overflow: hidden;
}
.section-bg > img {
  width: 26vw;
  height: 70.5%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-bg::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  position: absolute;
  z-index: -3;
  opacity: 0.8;
}

.whatwedo__box {
  min-height: 38rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.whatwedo__box > img {
  min-height: 38rem;
}
.whatwedo__content {
  min-height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid #e5e5e5;
}
.whatwedo__content-item {
  transition: all 0.3s;
  flex: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.whatwedo__content-item.active {
  flex: 1;
}
.whatwedo__content-item.active .whatwedo__content-item-content {
  display: flex;
  transform: scale(1);
  height: auto;
  padding: 2.2rem 2rem;
  flex: 1;
}
.whatwedo__content-item.active .whatwedo__content-item-title-right svg {
  transform: rotateX(180deg);
  fill: #95e1d3;
}
.whatwedo__content-item-title {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
  padding: 0 1.6rem;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}
.whatwedo__content-item-title-left, .whatwedo__content-item-title-right {
  display: flex;
  align-items: center;
}
.whatwedo__content-item-title-left {
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
}
.whatwedo__content-item-title-left svg {
  margin-right: 1.6rem;
  fill: #95e1d3;
}
.whatwedo__content-item-title-right {
  height: 100%;
}
.whatwedo__content-item-title-right svg {
  fill: #cccccc;
  animation: changeOpen 0.5s linear;
  transform: rotateX(0);
}
.whatwedo__content-item-content {
  border-bottom: 1px solid #e5e5e5;
  transition: all 0.3s;
  transform-origin: top center;
  transform: scale(0);
  height: 0;
}
.whatwedo__content-item-content p.section__description {
  font-style: italic;
  text-align: left;
  line-height: 2.4rem;
  margin: 0;
  flex: 1;
}
.whatwedo__content-item-content p.section__description::--webkit-scrollbar {
  width: 0.6rem;
}
.whatwedo__content-item-content p.section__description::--webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 100rem;
}
.whatwedo__content-item-content p.section__description::--webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 100rem;
}

.slider {
  background-color: #f8f8f8;
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.slider .btn-slider {
  border: 0;
  background-color: transparent;
  padding: 2rem;
  cursor: pointer;
  height: 100%;
}
.slider .btn-slider svg {
  fill: #ccc;
}
.slider .btn-slider-prev svg {
  transform: rotate(-90deg);
}
.slider .btn-slider-next svg {
  transform: rotate(90deg);
}
.slider-content {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
.slider-content-item {
  display: flex;
  width: 100%;
}
.slider-item-left {
  margin-right: 6rem;
  padding: 2rem;
  border: 3px solid #95e1d3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-item-left svg {
  fill: #95e1d3;
}
.slider-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-item-right p.section__description {
  font-weight: 300;
  font-style: italic;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: left;
  margin: 0;
}
.slider-item-right .description__author {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
}
.slider-item-right .description__author span {
  margin-right: 1rem;
}

.meetourteam .section__picturebox {
  margin: 0 -1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meetourteam .section__picturebox-item {
  padding: 0 1.5rem;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meetourteam .section__picturebox-item .team-member-info {
  margin-top: 3rem;
  text-align: center;
}
.meetourteam .section__picturebox-item .team-member-name {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.meetourteam .section__picturebox-item .team-member-position {
  margin-top: 0.8rem;
  font-weight: 300;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #b3b3b3;
}
.meetourteam .section__picturebox-item:nth-child(1) img {
  object-position: 23% 0%;
}
.meetourteam .section__picturebox-item:nth-child(2) img {
  object-position: 56% 0%;
}
.meetourteam .section__picturebox-item:nth-child(3) img {
  object-position: 75% 0%;
}
.meetourteam .section__picturebox-item:hover .section__picturebox-img-bg {
  opacity: 0.92;
  transform: translate(-1rem, -1rem);
}
.meetourteam .section__picturebox-item:hover img {
  transform: translate(-1rem, -1rem);
}
.meetourteam .section__picturebox-item:hover .section__picturebox-img::after {
  opacity: 1;
}
.meetourteam .section__picturebox-img {
  width: 100%;
  height: 47rem;
}
.meetourteam .section__picturebox-img-bg {
  position: absolute;
  height: 47rem;
  background-image: linear-gradient(to bottom, #e98283, #f1da8a);
  width: calc(100% - 3rem);
  top: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.meetourteam .section__picturebox-img-bg .social-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 22.3rem;
  height: 6rem;
}
.meetourteam .section__picturebox-img-bg .social-list .dodge {
  background-color: #e98283;
}
.meetourteam .section__picturebox-img-bg .social-list-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1da8a;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
  opacity: 1;
}
.meetourteam .section__picturebox-img-bg .social-list-item:hover {
  background-color: #e98283;
}
.meetourteam .section__picturebox-img-bg .social-list-item:hover i {
  color: #fff;
}
.meetourteam .section__picturebox-img-bg .social-list-item i {
  transition: all 0.3s linear;
  color: #e98283;
  font-size: 2.6rem;
}
.meetourteam .section__picturebox-img-bg svg {
  fill: #fff;
}
.meetourteam .section__picturebox-img-bg span {
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
}
.meetourteam .section__picturebox-img img {
  height: 47rem;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.meetourteam .section__picturebox-img::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: 47rem;
  background-color: #95e1d3;
  transition: all 0.3s;
  opacity: 0;
}
.meetourteam .team-logo {
  display: flex;
  align-items: center;
  min-height: 20rem;
  justify-content: space-between;
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 11rem;
}
.meetourteam .team-logo img {
  padding: 5rem;
  object-fit: cover;
}

.someofwork .picture__box {
  min-height: 78rem;
  width: 100%;
}
.someofwork .picture__box .picture__col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.someofwork .picture__box .picture__col:nth-child(3) img {
  height: 100%;
}
.someofwork .picture__box .picture__col img {
  flex: 1;
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.someofwork .slider-item-left {
  border: 0;
  padding: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}
.someofwork .slider-item-left img {
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  object-fit: cover;
}
.someofwork .slider-item-right p {
  flex: 1;
  display: flex;
  align-items: center;
}

.happyclients {
  position: relative;
  min-height: 83rem;
}
.happyclients .section__box {
  height: 100%;
  justify-content: flex-start;
  flex: 1;
}
.happyclients .section-bg {
  height: 100%;
  background-image: url("../images/whatpeoplesay/5.jpg");
  background-size: 100% 150%;
  background-position: 0% -4%;
}
.happyclients .section-bg::after {
  background-color: #f4f4f4;
}
.happyclients .people__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}
.happyclients .people__item {
  display: flex;
  padding: 4rem;
}
.happyclients .people__info {
  width: calc(100% - 11rem);
  padding-left: 3rem;
}
.happyclients .people__info__name {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.happyclients .people__info__position {
  font-style: italic;
  font-weight: 400;
  color: #a6a6a6;
}
.happyclients .people__info .section__dodge {
  margin: 2.5rem 0;
}
.happyclients .people__info p {
  text-align: left;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #a6a6a6;
}
.happyclients .people__avatar {
  object-fit: none;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.people__item:nth-child(1) .people__avatar {
  object-position: 47% 0%;
}

.people__item:nth-child(2) .people__avatar {
  object-position: 60% 48%;
}

.people__item:nth-child(3) .people__avatar {
  object-position: 56% 7%;
}

.people__item:nth-child(4) .people__avatar {
  object-position: 26% 10%;
}

.lastestblog .section__picturebox-item {
  height: auto;
  display: flex;
  flex-direction: column;
}
.lastestblog .section__picturebox-item:nth-child(1) img {
  object-position: 23% 0%;
}
.lastestblog .section__picturebox-item:nth-child(2) img {
  object-position: 56% 0%;
}
.lastestblog .section__picturebox-item:nth-child(3) img {
  object-position: 75% 0%;
}
.lastestblog .section__picturebox-item:hover img {
  transform: translate(0, 0);
}
.lastestblog .section__picturebox-item:hover .section__picturebox-img::after {
  opacity: 1;
}
.lastestblog .section__picturebox-img {
  height: 24rem;
  position: relative;
}
.lastestblog .section__picturebox-img::after {
  background-color: transparent;
  opacity: 1;
}
.lastestblog .section__picturebox-img-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 7.2rem;
  background-color: #95e1d3;
  position: absolute;
  top: 16rem;
  left: -1rem;
}
.lastestblog .section__picturebox-img-tag span {
  color: #fff;
}
.lastestblog .section__picturebox-img-tag .tag-day {
  font-weight: 700;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
}
.lastestblog .section__picturebox-img-tag .tag-month {
  font-style: italic;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.lastestblog .section__picturebox-info {
  display: flex;
  flex-direction: column;
}
.lastestblog .section__picturebox-info-title {
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.lastestblog .section__picturebox-info p {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #a6a6a6;
  margin-bottom: 2.4rem;
}
.lastestblog .section__picturebox-info-reaction {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  border-top: 1px solid #e5e5e5;
}
.lastestblog .section__picturebox-info-reaction .tag + .tag {
  margin-left: 1.8rem;
}
.lastestblog .section__picturebox-info-reaction .tag span {
  font-style: italic;
  color: #bfbfbf;
  font-size: 1.5rem;
}
.lastestblog .section__picturebox-info-reaction .tag svg {
  margin-right: 0.6rem;
  fill: #95e1d3;
}

.openmap {
  height: 20rem;
  position: relative;
}
.openmap .section__box {
  height: 100%;
}
.openmap .section__box h1 {
  margin: 1.5rem 0 2.5rem 0;
  color: #e98283;
}
.openmap .section__box svg {
  fill: #e98283;
}
.openmap .section-bg {
  height: 100%;
  background-size: 100% 150%;
  background-position: 0% -4%;
  top: 0;
}
.openmap .section-bg > img {
  top: 0;
  left: 0;
  object-fit: none;
  object-position: bottom;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
}
.openmap .section-bg::after {
  background-color: #f4f4f4;
  transform: translateX(-100%);
  z-index: 0;
}

.footer .footer__content {
  padding: 5.5rem 0 6rem 0;
}
.footer .footer__content .col {
  display: flex;
  flex-direction: column;
}
.footer .footer__content .footer__content-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #3f3f3f;
}
.footer .footer__content-left .footer__logo {
  font-size: 4.6rem;
  font-weight: 700;
  color: #ccc;
  margin: 0;
}
.footer .footer__content-left .followers {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #e5e5e5;
}
.footer .footer__content-left .followers span {
  font-weight: 700;
  font-size: 1.6rem;
}
.footer .footer__content-left .followSocial {
  padding-top: 1.6rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
}
.footer .footer__content-left .followSocial span {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 300;
}
.footer .footer__content-left .followSocial .list__Social {
  list-style: none;
  display: flex;
  align-items: center;
}
.footer .footer__content-left .followSocial .list__Social-item {
  padding: 0.4rem;
  margin: 0 0.4rem;
}
.footer .footer__content-left .followSocial .list__Social-item:hover {
  opacity: 0.6;
}
.footer .footer__content-left .followSocial .list__Social-links {
  color: #95e1d3;
}
.footer .footer__content-left p {
  text-align: left;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #b1b1b1;
  margin: 2.5rem 0 5rem 0;
}
.footer .footer__content-left .footer__combobox {
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.footer .footer__content-left .footer__combobox input {
  border: 0;
  flex: 1;
  height: 100%;
  padding: 0 1rem;
}
.footer .footer__content-left .footer__combobox button {
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.2rem 3.5rem;
  background-color: #95e1d3;
  color: #fff;
}
.footer .footer__content-mid .footer__content-box {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 4.5rem;
}
.footer .footer__content-mid .footer__content-box-item {
  display: flex;
  align-items: center;
}
.footer .footer__content-mid .footer__content-box-item img {
  margin-right: 2rem;
}
.footer .footer__content-mid .footer__content-box-info-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8rem;
  margin-bottom: 0.3rem;
}
.footer .footer__content-mid .footer__content-box-info-time {
  font-style: italic;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #b1b1b1;
}
.footer .footer__content-right .footer__content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}
.footer .footer__content-right .footer__content-box .picture__box {
  margin-top: 4.5rem;
}
.footer .footer__content-right .footer__content-box .picture__box.row {
  margin-left: -0.1rem;
  margin-right: -0.1rem;
}
.footer .footer__content-right .footer__content-box .picture__box .col.picture__box-img {
  margin: 0.1rem 0;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.footer .footer__content-right .footer__content-box .viewmore {
  padding: 0;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-style: italic;
  font-weight: 300;
}
.footer .copyright {
  border-top: 0.1rem solid #c8c8c8;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.footer .copyright span {
  color: #e98283;
  margin-left: 0.6rem;
  cursor: pointer;
}
.footer .copyright span:hover {
  text-decoration: underline;
}

@keyframes changeOpen {
  0% {
    transform: rotateX(0);
    fill: #cccccc;
  }
  100% {
    transform: rotateX(0);
    fill: #95e1d3;
  }
}
@media (min-width: 1025px) {
  .weworkwith .section__list-item:nth-child(1) {
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 0;
  }
  .weworkwith .section__list-item:nth-child(2) {
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 0;
  }
  .weworkwith .section__list-item:nth-child(3) {
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 0;
  }
  .weworkwith .section__list-item:nth-child(4) {
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 3rem;
  }
}
@media (max-width: 1024px) {
  section.content__box {
    padding: 9rem 3rem 11rem;
  }

  .banner {
    height: 100vh;
  }
  .banner .space__btn {
    flex: 0.5;
  }

  .header__logo {
    left: 2rem;
  }

  .header__navbar {
    padding-right: 4rem;
  }

  .header .banner__step {
    padding: 0 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .weworkwith .section__list .section__list-item:nth-child(1) {
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 0;
  }
  .weworkwith .section__list .section__list-item:nth-child(2) {
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 0;
  }
  .weworkwith .section__list .section__list-item:nth-child(3) {
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 3rem;
  }
  .weworkwith .section__list .section__list-item:nth-child(4) {
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 3rem;
  }

  .banner .section__box .banner__step {
    padding: 0 2rem 0.6rem;
  }
  .banner .section__box .section__title h3 {
    font-size: 4.2rem;
  }
  .banner .section__box .section__title h1 {
    font-size: 12rem;
    width: 80rem;
  }

  .statistic {
    height: 20vh;
  }
  .statistic-item span {
    font-size: 4.2rem;
    font-weight: 600;
  }
  .statistic-item h6 {
    font-size: 1rem;
    height: 2rem;
  }

  .section__picturebox-item {
    height: 35vh;
  }

  .footer {
    padding: 3rem;
  }
  .footer__content-right, .footer__content-mid {
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .header .toggle {
    display: block;
  }
  .header .toggle.active ~ .header__navbar {
    transform: translate(0, 10rem);
    opacity: 1;
  }
  .header__navbar {
    position: absolute;
    height: calc(100vh - 10rem);
    display: block;
    transform: translate(100%, 10rem);
    opacity: 0;
    transition: 1s;
    background-image: linear-gradient(to bottom, #e98283, #f1da8a);
  }
  .header__navbar-list {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  }
  .header__navbar-list-item {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }
  .header__navbar-list-item:nth-last-child(1)::after, .header__navbar-list-item:nth-last-child(2)::after, .header__navbar-list-item:nth-last-child(3)::after {
    background-color: #e98283;
  }
  .header__navbar-list-item:nth-last-child(1):hover a, .header__navbar-list-item:nth-last-child(2):hover a, .header__navbar-list-item:nth-last-child(3):hover a {
    color: #e98283;
  }
  .header__navbar-list-item:nth-last-child(1):hover svg, .header__navbar-list-item:nth-last-child(2):hover svg, .header__navbar-list-item:nth-last-child(3):hover svg {
    fill: #e98283;
  }
  .header__navbar-list-item span {
    display: inline-block;
    margin-left: 1rem;
  }
  .header__navbar-list-item + .header__navbar-list-item {
    margin-left: 0;
  }

  .banner .section__box .space__btn {
    flex: 0.5;
  }
  .banner .section__box .banner__step-title {
    font-size: 1.4rem;
  }
  .banner .section__box .banner__step-title span {
    font-size: 1.8rem;
  }

  .section__picturebox-item {
    height: 60vh;
    margin-top: 4rem;
  }

  .weworkwith .section__list .section__list-item {
    justify-content: center;
    border-bottom: 0.1rem solid #e5e5e5;
    margin-top: 2rem;
  }
  .weworkwith .section__list .section__list-item:nth-child(6) {
    border-bottom: 0;
  }
  .weworkwith .section__list .section__list-item h5 {
    text-align: center;
  }

  .section-bg > img {
    width: 60%;
  }

  .uniquedesigns > img {
    top: calc(53vh + 0.4rem);
    left: 50vw;
  }

  .slider-content-item {
    display: block;
  }

  .footer {
    padding: 3rem;
  }
  .footer__content-box .footer__content-box-item {
    margin-bottom: 1.4rem;
  }
  .footer__content-right, .footer__content-mid {
    margin-top: 3rem;
  }
}
@media (min-width: 416px) and (max-width: 767px) {
  .banner .section__box .section__title h3 {
    font-size: 4.2rem;
  }
  .banner .section__box .section__title h1 {
    font-size: 7.5rem;
    width: 100vw;
    line-height: 8rem;
  }
  .banner .section__box .space__btn {
    flex: 0.5;
  }
  .banner .section__box .banner__step-title {
    font-size: 1.4rem;
  }
  .banner .section__box .banner__step-title span {
    font-size: 1.8rem;
  }

  .statistic {
    height: 20vh;
  }
  .statistic-item span {
    font-size: 4.2rem;
    font-weight: 600;
  }
  .statistic-item h6 {
    font-size: 1rem;
    height: 2rem;
  }

  .footer {
    padding: 3rem;
  }
  .footer__content-right, .footer__content-mid {
    margin-top: 3rem;
  }
}
@media (max-width: 415px) {
  .banner .section__box .section__title {
    flex: 1;
  }
  .banner .section__box .section__title h3 {
    font-size: 6vh;
  }
  .banner .section__box .section__title h1 {
    font-size: 8vh;
    width: 100vw;
    line-height: 10vh;
  }
  .banner .section__box .banner__step-item::before {
    margin-bottom: 1.2rem;
  }
  .banner .section__box .banner__step {
    padding: 0 1rem 1rem;
  }
  .banner .section__box .banner__step-title {
    font-size: 0.8rem;
  }
  .banner .section__box .banner__step-title span {
    font-size: 1.2rem;
  }

  .statistic {
    height: 20vh;
  }
  .statistic-item span {
    font-size: 2.8rem;
    font-weight: 600;
  }
  .statistic-item h6 {
    font-size: 0.6rem;
    height: 1.2rem;
  }

  .uniquedesigns .section-bg > img {
    width: 56%;
    height: 60.5%;
    top: 78%;
  }

  .footer {
    padding: 3rem;
  }
  .footer__content-left .footer__combobox {
    flex-wrap: wrap;
  }
  .footer__content-left .footer__combobox .btn {
    width: 100%;
  }
  .footer__content-right, .footer__content-mid {
    margin-top: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
